.media {
 display:block;
 margin: 0 28px 40px 28px;
 /*float:left;*/
 border-radius:5px;
box-shadow:0 8px 15px rgba(0,0,0,.6);
width:300px;
height:400px;
overflow:hidden;
}

.media li:hover {
cursor:pointer;
}

.caption {
height:95px;
background-color:white;
position:relative;
top:-95px;
opacity:0.6;
}

.caption:hover {
opacity:1;
background-color:whitesmoke;
}

h6 {
padding:15px 10px 15px 20px;
margin: 0;
}

p{
	margin: 0;
}

.fa {
font-family: FontAwesome;
color:grey;
opacity:1;
padding:0 20px;
}

 .fa-trash-o{
margin-left:158px;
}

.fa:hover {
color:red;
}
